<!-- Todo separadito para tener más organización, pero no importa  

Imports: Importaciones de otros archivos, como lo es el top bar y footer, por ejemplo

Content: Contenido genérico que podemos querer en todos los archivos

Stylesheets: CSS general que se quiere aplicar a todos los archivos ej. fuente, tamaño de letra, colores de fondo

JavaScripts: Scripts que queremos en todo el sistema, como lo es el jQuery de Bootstrap

-->

{% block imports %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block navbar %}

    {% include 'layout/topbar.html.twig' %}

{% endblock %}

{% block content %}
<main>

</main>
{% endblock %}

{% block footer %}

    {% include 'layout/footer.html.twig' %}

{% endblock %}

{% block stylesheets %}

<style>
        /* Estilos generales del cuerpo */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: rgb(221, 221, 221); /* Color de fondo ligero */
        }
        main {
            flex: 1 0 auto;
        }
        /* Estilos opcionales para el topbar */
        .topbar.bg-light.py-2 {
            /* border-radius: 100px; */ /* Descomenta esta línea si quieres el borde redondeado */
        }
</style>

{% endblock %}

{% block javascripts %}

{% endblock %}