{% block footer %}
<footer class="footer py-3 bg-secondary border-top">
    <div class="container text-center">
        <p class="mb-2 small text-white">&copy; {{ "now"|date("Y") }} Alquil.AR - Todos los derechos reservados.</p>
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="#" class="text-white small">Política de Privacidad</a></li>
            <li class="list-inline-item ms-3"><a href="#" class="text-white small">Términos y Condiciones</a></li>
            <li class="list-inline-item ms-3"><a href="#" class="text-white small">Contacto</a></li>
        </ul>
    </div>
</footer>
{% endblock %}
